---
title: Le Wagon Middleman boilerplate
---

<div class="banner" style="background: linear-gradient(-225deg, rgba(168,168,168,0.2) 10%, rgba(200,200,200,0.3) 10%), url('images/background_muesli2.jpg');">
  <div class="banner-content">
    <h1 id="welcome"><%= image_tag "MARLETTE_BLANC.png", id: "logohome"%></h1>
<!--     <form action="#" class="form-inline">
      <input type="text" class="form-control input-lg" placeholder="checkin">
      <input type="text" class="form-control input-lg" placeholder="checkout">
      <select name="" id="" class="form-control input-lg">
        <option value="1">1 person</option>
        <option value="2">2 persons</option>
        <option value="3">3 persons</option>
      </select>
      <input type="submit" class="btn btn-primary btn-lg" value="Search">
    </form> -->
  </div>
</div>


<!-- <div class="welcome text-center padded">
  <h1>Bienvenue chez Marlette</h1>
  <p class="doc">
    <#%= link_to "La nouvelle gamme des produits Marlettes", "http://www.marlette.fr/" %>
  </p>
</div> -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
       <div class="presentation">
          <h3 class="text-center" id="nouvelle_gamme">Marlette lance ses mueslis : les nouveaux indispensables du petit-déjeuner !</h3><br>
          <p class="text-center">Envie de faire le plein d’énergie dès le réveil ? Découvrez nos trois délicieuses recettes de mueslis  : </p>
          <p class="text-center"><b>Chocolat Noir & au lait</b>, <b>Cranberry Chocolat blanc</b> et <b>Fruits & Noix</b>, idéales pour attaquer votre journée ou votre séance de sport.</p>
          <p class="text-center">Healthy et gourmandes, mélangez-les avec du yahourt, du lait, des fruits frais, du miel…Elles seront aussi une base idéale pour des "Açai bowls".</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url('images/situationchocoblanc.png');">
          <div class="card-category">
            <h2>Cranberry - Chocolat blanc</h2>
          </div>
          <%= link_to "", "", class: "card-link", data: {toggle: "modal", target: "#crambModal"} %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url('images/situationchoconoir.png');">
        <div class="card-category">
          <h2>Chocolat noir & au lait</h2>
        </div>
          <%= link_to "", "", class: "card-link", data: {toggle: "modal", target: "#chocoModal"} %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.2)), url('images/situationfruitssetnoix.png');">
        <div class="card-category">
          <h2>Fruits & noix</h2>
        </div>
          <%= link_to "", "", class: "card-link", data: {toggle: "modal", target: "#fruitModal"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="formulaire" id="form_anchor">
        <h4>Tentez de gagner un petit-déjeuner pour 2 personnes livré chez vous à Paris ainsi que 10 lots de 3 mueslis !</h4>

          <form class="form-horizontal" accept-charset="UTF-8" action="https://formkeep.com/f/612cac98f5df" method="POST">
            <div class="form-group">
              <div class="col-sm-2">
                <label for="first_name" class="control-label">Prénom</label>
              </div>
              <div class="col-sm-10">
               <input type="text" class="form-control" id="first_name" name="Prénom">
              </div>
            </div>
            <div class="form-group">
            <div class="col-sm-2">
              <label for="family_name" class="control-label">Nom</label>
              </div>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="family_name" name="Nom">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
              <label for="email_address" class="control-label">Email</label>
              </div>
              <div class="col-sm-10">
              <input type="email" class="form-control" id="email_address" name="email">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
              <label for="country" class="control-label">Pays</label>
              </div>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="country" name="Pays">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
              <label for="city" class="control-label">Ville</label>
              </div>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="city" name="Ville">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
              <label for="postal_adress" class="control-label">Adresse</label>
              </div>
              <div class="col-sm-10">
              <input type="text" class="form-control" id="postal_adress" name="Adresse">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-2">
              <label for="telephone_number" class="control-label">Téléphone</label>
              </div>
              <div class="col-sm-10">
              <input type="tel" class="form-control" id="telephone_number" name="Téléphone">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="hidden" name="Newsletter" value="no">
                    <input type="checkbox" name="Newsletter" value="yes"> Je m'inscris à la newsletter Marlette. (obligatoire pour participer)
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="hidden" name="Parisien" value="no">
                    <input type="checkbox"  name="Parisien" value="yes"> Si j’habite Paris, je suis disponible pour recevoir mon petit-déjeuner le weekend du 25-26 juin.
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="hidden" name="utf8" value="✓">
              <button type="submit" class="btn btn-alert">Je tente ma chance</button>
              <p>Résultat le 24 juin 2016</p>
              <p id="reglement"><%= link_to "Réglement du jeu concours", "http://www.marlette.fr", :target => "_blank"%></p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 class=text-center>
          Et partagez vos recettes sur Instagram avec <b>#MUESLIMARLETTE</b>
        </h4>
      </div>
    </div>
    <iframe src="//lightwidget.com/widgets/ae2defaea7df534c8d7361ca1c22cd26.html" id="lightwidget_ae2defaea7" name="lightwidget_ae2defaea7"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 800px; border: 0; overflow: hidden;"></iframe>


  </div>



<div class="modal fade" id="crambModal" tabindex="-1" role="dialog" aria-labelledby="crambModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content-card">
    <p>Muesli cranberry & chocolat blanc</p>
      <div class="modal-body-card">
        <%= image_tag "situation_3.png" %>
      </div>
      <div class="modal-img-card">
        <%= image_tag "MuesliCramberry.jpg" %>
      </div>
      <div class="modal-buy-card text-center">
        <%= link_to "J'en veux !", "http://www.marlette.fr/shop/les-mueslis/muesli-cranberry-chocolat-blanc/", :target => "_blank", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="chocoModal" tabindex="-1" role="dialog" aria-labelledby="chocoModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content-card">
    <p>Muesli chocolat noir & au lait</p>
      <div class="modal-body-card">
        <%= image_tag "situation_1.png" %>
      </div>
      <div class="modal-img-card">
        <%= image_tag "MuesliChoco.jpg" %>
      </div>
      <div class="modal-buy-card text-center">
        <%= link_to "J'en veux !", "http://www.marlette.fr/shop/les-mueslis/muesli-chocolat-noir-au-lait/", :target => "_blank", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fruitModal" tabindex="-1" role="dialog" aria-labelledby="fruitModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content-card">
    <p>Muesli frtuis & noix</p>
      <div class="modal-body-card">
        <%= image_tag "situation_2.png" %>
      </div>
      <div class="modal-img-card">
        <%= image_tag "MuesliFruits.jpg" %>
      </div>
      <div class="modal-buy-card text-center">
        <%= link_to "J'en veux !", "http://www.marlette.fr/shop/les-mueslis/muesli-fruits-noix/", :target => "_blank", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>


<!-- LightWidget WIDGET -->






<!-- <div class="container text-center padded features">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/globe.png" alt="">
      <h2>Discover the world</h2>
      <p>The earth is your new home.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/dollar.png" alt="">
      <h2>Pay online</h2>
      <p>No cash issues anymore.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/beer.png" alt="">
      <h2>Meet people</h2>
      <p>Discover new culture and lifestyle.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <img src="images/heart.png" alt="">
      <h2>Share and love</h2>
      <p>Join a community you will love.</p>
    </div>
  </div>
</div> -->


<!-- <div class="text-center padded" id="newsletter">
  <h2>Get news from us</h2>
  <p>Leave us your mail and get news from us</p>
  <form class="form-inline">
    <input type="email" placeholder="bob@gmail.com" class="form-control">
    <input type="submit" value="Subscribe" class="btn btn-primary">
  </form>
</div> -->


